@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Varela+Round&display=swap');
.main-header {
    font-family: 'Varela Round', sans-serif;
}
.all {
    font-size: "20px";
}
.row {
    padding-left: "30px";
    padding-top: "25px";
    background-color: "white";
    margin: "0 30px";
}
.col1 {
    width: "70%";
    display: "inline-block";
}
.col2 {
    width: "20%";
    display: "inline-block";
    text-align: "center";
}
.col3 {
    width: "10%";
    display: "inline-block";
    text-align: "center";
}
.hr {
    margin-top: "25px";
}
.gray {
    color: "gray";
}
